body{
    font-family: Inter, sans - serif;
    background-color: #704141;
    color: white;
  }
.logo {
    text-indent: -999999px;
    background: url('Logo.png');
    width:474px;
    height: 213px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*/{padding: 0;
margin:0;
contain-intrinsic-inline-size: border-box;
}

:root {
  --primary-color: #24073f;
  --text-color: #0b2e03;
  display: flex
  floatblock
  }
  html {
    font-size: 20px;
  }

img{
  width:100%;

}
a{
  text-decoration: none;
  color:#205bb4
}
.description{
  margin-top: 1rem;
  font-size:-0.8rem;
  font-weight: 0.5;
  font-size: 15px;
  color: white
}
div.gallery {
  border: 1px solid #ccc;

}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

div{
  border-width:1px;
  border-style:dashed;
  border-color:white


}
